body {
	background-color: pink;
}

	
.resla-background {
	position: fixed;
	width: 94%;
	height: 95%;
	left: 3%;
	right: 3%;
	border: 1px solid black;
	display: grid;
	flex-direction: column;
	background-color: rgb(171, 236, 254);
	text-align: center;
	background-image: url("../resla.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 80%;
	border-radius: 10%;
}

.buttons {
	padding-left: 2%;
	display: grid;
	row-gap: 10%;
	column-gap: 5%;
	background-color: rgb(171, 236, 254);
	border-radius: 10%;
	height: 90%;

}

.command {
	color: black;
	background-image: none;
	background-color: rgb(255, 0, 212);
	border: 3px solid black;
	border-radius: 10%;
	width: 90%;
	height: 90%;
}

.command-left{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}

.command-right{
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
}

.command-forward{

	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 1;
}

.command-backward{

	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
}

.command-straight{

	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 1;
}

.command-stop{
}
