* {
}

body {
	background-color: pink;
}

	
.resla-background {
	position: fixed;
	bottom: 1%;
	left: 30%;
	width: 35%;
	height: 70%;
	border: 1px solid black;
	display: grid;
	flex-direction: column;
	background-color: rgb(171, 236, 254);
	text-align: center;
	background-image: url("../resla.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: 67%;
	border-radius: 25%;
}

.buttons {
	display: grid;
	row-gap: 10%;
	column-gap: 10%;
	background-color: rgb(171, 236, 254);
}

.command {
	color: black;
	background-image: none;
	background-color: rgb(255, 0, 212);
	border: 3px solid black;
}

.command-left{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 2;
}

.command-right{
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}

.command-forward{
}

.command-backward{
}

.command-straight{
}

.command-stop{
}